.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  text-align: center;
  background: #ffffff;
}

.h1 {
  position: relative;
  z-index: 10;
  color: #111827;
  margin-top: 50px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.toolsGrid {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}

.toolIcon {
  text-align: center;
}

.toolIcon img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.toolCard {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid black;
  text-align: left;
}

.toolCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.4);
  border-color: #333;
}

.toolName {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 800;
}

.toolDescription {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #464646;
}

.toolIncludes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
  align-items: center;
}

.toolIncludesImg {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
